{% extends 'base.html' %}

{% block content %}
    <h1>Resultados de consulta para la ciudad {{ ciudad }}</h1>
    {% if resultados %}
        <ul>
            {% for resultado in resultados %}
                <li>Fecha: {{ resultado[0] }}, Temperatura: {{ resultado[1] }}, Probabilidad de lluvia: {{ resultado[2] }}%</li>
                {% if resultado[2] > 70 %}
                    <p>Lleve paraguas</p>
                {% endif %}
                {% if resultado[1] < 10 %}
                    <p>Abríguese antes de salir</p>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados para la ciudad {{ ciudad }}</p>
    {% endif %}
{% endblock %}

